p.example {
    font-size: 20px;
    text-align: center;
    padding-top: 35px;
    color: purple;
}
span.bracket {
    color: green;
}
div.box {
    background-color: black;
    width: 200px;
    height: 100px;
}
.var-highlight {
    color: #C0AD60;
  }
  
  .string-highlight {
    color: rgba(253, 149, 90, 0.8);
  }
  
  #typewriter {
    font-size: 2em;
    margin: 0;
    font-family: "Courier New";
  }
  #typewriter:after {
    content: "|";
    -webkit-animation: blink 500ms linear infinite alternate;
            animation: blink 500ms linear infinite alternate;
  }